section{
    width: 100%;
    display: flex;
    flex-direction: column; /* Esse é essencial para responsividade dessa pagina */
    padding: 4px;
    margin-top: 10% ;
}

section h1{
    text-align: center;
    margin: 0.5em;
}

section h1 span{
    background-color: black;
    padding: 8px;
    color: #ffbb33;
}

h5{
    text-align: center;
    padding: 5px;
}

section img{
    width: 350px;
    margin: auto;
    margin-top: 50px;
}

