.novoProjeto{
    margin-top: 10%;    text-align: center;
    width: 400px;       
    border-radius: 10px;
    margin: auto;
    padding: 1em;
}

.novoProjeto h1{
    margin-bottom: 20px;
}

.h4{
    color: #7b7b7b;
}